*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

// colors
$primary-color: #15111D;
$secondary-color: #F1F1FB;
$white: #FFFFFF;
$accent: #B6ADAA;
$hue: #5B4B57;

$height: 100vh;
$width: 100%;
$border-radius: 0.3rem;
$big-radius: 1rem;
$text: 1.2rem;
$small-text: 0.8rem;